@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

.tableau {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 91vh;
    width: 100vw;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
    background-color:black;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  *{
    box-sizing: border-box;
  }

  body{
    margin: 0;
  }

.input {
    display: inline;
  }

.input>input {
  margin-right: 10px;
  width: 90px;
  height: 20px;
}

.bouton {
  margin-right: 10px;
  width: 100px;
  height: 20px;
}



